.listile {
  transition: width 2s, height 2s, transform 2s;
}

.svgtext {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}
