.listile {
  transition: width 2s, height 2s, transform 2s;
}

.svgtext {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.markov-sim-result td {
  background-color: #DDD;
  min-width: 100px;
}


.markov-sim-result th {
  background-color: #DDD;
}

#TransitionMatrix {
  font-size: 120%;
  width: 100%;
}